<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<h2>Cervezas disponibles</h2>
<div class="w3-blue w3-hover-shadow w3-padding-64 w3-center" style="width:40%">
    {% for cerveza in cervezas %}
      <h2><b>{{cerveza.nombre}}</b></h2>
      <p>{{cerveza.poblacion}}, {{cerveza.pais}}</p>
      <p>{{cerveza.tipo}}, {{cerveza.tamano}}</p>
    {% endfor %}
</div>
